
.topnav {
    text-align: center;
    background-color: #00a9ff;
    min-height: 40px;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

.navActive {
    font-size: 22pt;
    background-color: #ff037e;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40%;
    border: 5px solid white;
    padding: 18px 40px;
}

.navActive:hover {
    font-size: 22pt;
    background-color: #ff1300;
    color: #000d52;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40%;
    border: 5px solid white;
    padding: 18px 40px;
    transition-duration: 0.4s;
}

.navInActive {
    font-size: 22pt;
    background-color: #e4faff;
    color: #0900ff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40%;
    border: 5px solid #0900ff;
    padding: 18px 40px;
    transition-duration: 0.4s;
}

.navInActive:hover {
    font-size: 22pt;
    background-color: #002eff;
    color: ghostwhite;
    border: 5px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40%;

    padding: 18px 40px;
    transition-duration: 0.4s;
}

.info_div {
    text-align: left;
    background-color: #ff0009;
    color: black;
    font-size: 22pt;
}

.settingsContainer {
    padding-top: 20px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: #b5d6ff;

    font-size: 16pt;
    color: #0900ff;
    border-radius: 10%;
    border: 4px solid #0900ff;
}

.serviceButton {
    font-size: 16pt;
    background-color: #e7e0f2;
    color: #0003ca;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 4px solid #0003ca;
    padding: 12px 30px;
    transition-duration: 0.4s;
}

.serviceButton:hover {
    background-color: #002eff;
    color: ghostwhite;
    border: 4px solid white;
}


.progress-loader {
    bottom: 10px;
    text-align: center;
    position: fixed;
    margin: 0 auto;

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.edit_panel{
    bottom: 0px;
    text-align: center;
    position: fixed;
    width: 80%;
    margin-left: 10%;
    border-radius: 10%;
    border: 3px solid #0003ca;
    background-color: #b5d6ff;
}
.add_button{
    font-size: 16pt;
    text-align: center;
    background-color: #e4faff;
    color: #0900ff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 3px solid #0900ff;
    transition-duration: 0.4s;
    width: 45px;
    height: 45px;
}
.add_button:hover{
    background-color: #002eff;
    color: ghostwhite;
    border: 4px solid white;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Modal Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-box{
    overflow: auto;
    text-align: center;

}

.modal_button_up{
    border-radius: 30%;
    border: 4px solid red;
    background-color: #e7e0f2;
    color: #0003ca;

    font-size: 16pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal_button_down {
    border-radius: 30%;
    border: 4px inset #00f33b;
    background-color: #e7e0f2;
    color: #0003ca;

    font-size: 16pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}